header.navbar {
     margin-bottom: 40px !important;
   }
   
   .navbar {
     background: #FFFFFF;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
   }
   
   .navbar-brand {
     margin: 0 auto;
   }
   
   
   /* Responsive adjustments */
   @media (max-width: 768px) {
   
     .navbar>.container-xxl {
       justify-content: center;
     }
   
     .col-sm-12.col-md-6.text-center {
       overflow: hidden;
     }
   
     .col-sm-12.col-md-6.text-center img {
       position: relative;
       width: 100%;
       left: unset;
     }
   
     .form-title {
       text-align: left;
       margin-top: 20px;
     }
   
     .logo-data img {
       width: 75%;
       margin-top: 10px;
     }
   
     .input-container {
       margin-top: 20px;
     }
   
     .logo-pie,
     .logo-data {
       text-align: left;
     }
   
     .btn-continue {
       width: 100%;
       padding: 10px 30px;
       font-weight: bold;
       border-radius: 50px;
       background-color: #CE0058;
       border: 1px solid #CE0058;
     }
   
     header.navbar {
       margin-bottom: 20px !important;
     }
   
     .form-check {
       justify-content: flex-start;
       display: flex;
     }
   }
   